%ul.projects
  - @projects.each do |project|
    %li.project{:id => "project-#{project.owner}-#{project.name}"}
      %a{:href => "/projects/#{project.owner}/#{project.name}"}= "#{project.owner} / #{project.name}"
.clear
