!!!
%html{html_attrs}
  %head
    %title= "#{options.title} :: #{@title}"
    %link{:href => '/stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    .page
      .header
        .title
          %a{:href => '/'} rdoc.info
          %span.separator ::
          %a{:href => @project.doc_url}= @project.name
        .info
          = "Generated at #{@project.updated_at.strftime('%D %T %Z')}"
          - unless @project.commit_hash.nil?
            = "from "
            %a{:class => 'commit-link', :href => @project.commit_url}= @project.truncated_hash
          %form.inline{:action => '/projects', :method => 'post'}
            %input{:type => 'hidden', :name => 'owner', :value => @project.owner}
            %input{:type => 'hidden', :name => 'name', :value => @project.name}
            %input{:type => 'hidden', :name => 'return', :value => @project.doc_url(false)}
            %input{:type => 'submit', :value => 'Update'}
      .container
        %iframe{:src => "#{@project.doc.rdoc_url}/index.html", :height => '100%'}
    %script{:type => 'text/javascript'}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => 'text/javascript'}
      try {
      var pageTracker = _gat._getTracker("UA-2398620-12");
      pageTracker._trackPageview();
      } catch(err) {}
