!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    .page
      .header
        .title
          %a{:href => '/'} rdoc.info
          %span.separator ::
          %a{:href => @project.rdoc_url}= @project.name
        .info
          = "Generated at #{@project.updated_at.strftime('%D %T %Z')}"
          = "from #{@project.commit_hash}" unless @project.commit_hash.nil?
          %a{:href => @project.url} [src]
      .container
        %iframe{:src => "#{@project.rdoc_url}/index.html", :height => '100%'}
