<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title><%= $github[:user] %>'s <%= $github[:project] %> - <%= h format_object_type(object) %>: <%= h object.path %> - GitHub Documentation</title>
    <%= render :html_head %>
    <link rel="stylesheet" href="<%= url_for(css_file) %>" type="text/css" charset="utf-8" />
  </head>
  <body>    
    <% $content = :content_for_header %>
    <% $yielded_content = yield object %>
    <% $base_url  = ("../" * object.path.scan(/::/).size) %>
    <%= render :html_body %>
  </body>
</html>