<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>GitHub Documentation - <%= $github[:user] %>/<%= $github[:project] %> - <%= h format_object_type(object) %>: <%= h object.path %></title>
    <link rel="stylesheet" href="<%= url_for(css_file) %>" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="<%= url_for(css_syntax_file) %>" type="text/css" charset="utf-8" />
    <%= render :html_head %>
  </head>
  <body>    
    <% $content = :content_for_header %>
    <% $yielded_content = yield object %>
    <%= render :html_body %>
  </body>
</html>