    <div id="main" style="padding-bottom:8em;">
      <div id="header">
        <div class="site">
          <div class="logo">
            <a href="http://github.com/"><img src="http://github.com/images/modules/header/logov3.png" alt="github"></a>
          </div>          
          <div class="topsearch">
            <form action="http://github.com/search" id="top_search_form" method="get">
              <input class="search" name="q" type="search"> <input value="Search" type="submit">
            </form>
            <div class="links">
              <a href="http://github.com/repositories">Browse</a> | <a href="http://github.com/guides">Guides</a> | <a href="http://github.com/search">Advanced</a>
            </div>
          </div>
          <div class="actions">
            <a href="http://github.com">Home</a>
            <a href="http://github.com/plans"><b><u>Pricing and Signup</u></b></a>
            <a href="http://docs.github.com/">Documentation</a>
            <a href="https://github.com/login">Login</a>
          </div>                  
        </div>
      </div>    
                                                  
      <div id="repo_menu">
        <div class="site">
          <ul>          
            <li class=""><a href="http://github.com/<%= $github[:user] %>/<%= $github[:project] %>/tree/">Source</a></li>
            <li class=""><a href="http://github.com/<%= $github[:user] %>/<%= $github[:project] %>/commits/">Commits</a></li>            
            <li class=""><a href="http://github.com/<%= $github[:user] %>/<%= $github[:project] %>/network">Network</a></li>            
            <li class=""><a href="http://github.com/<%= $github[:user] %>/<%= $github[:project] %>/issues">Issues</a></li>
            <li class=""><a href="http://wiki.github.com/<%= $github[:user] %>/<%= $github[:project] %>">Wiki</a></li>
            <li class=""><a href="http://github.com/<%= $github[:user] %>/<%= $github[:project] %>/graphs">Graphs</a></li>                    
            <li class="active"><a href="<%= $base_url %><%= $github[:user] %>/<%= $github[:project] %>">Documentation</a></li>
          </ul>
        </div>
      </div>

      <div id="repo_sub_menu">
        <div class="site">
          <div class="joiner"></div>      
        </div>
      </div>

      <div class="site">  
        <div id="repos">
          <div class="repo public">
            <div class="title">
              <div class="path">
                <a href="http://github.com/<%= $github[:user] %>"><%= $github[:user] %></a> / <b><a href="http://github.com/<%= $github[:user] %>/<%= $github[:project] %>/tree"><%= $github[:project] %></a></b>        
                <a id="namespaces_button" rel="<%= $github[:user] %>/<%= $github[:project] %>/blob/<%= $github[:commit] %>" href="#">
                  <img class="button" src="http://docs.github.com/namespaces_button.png" alt="Modules and Classes"/>
                </a>
                <a id="methods_button" rel="<%= $github[:user] %>/<%= $github[:project] %>/blob/<%= $github[:commit] %>" href="#">
                  <img class="button" src="http://docs.github.com/methods_button.png" alt="Methods"/>
                </a>

                <script type="text/javascript">          
                $('#namespaces_button').click(function(){
                  var url="<%= $base_url %>"+$(this).attr('rel')+"/namespaces/";
                  $.gitbox(url);
                  return false;
                });

                $('#methods_button').click(function(){
                  var url="<%= $base_url %>"+$(this).attr('rel')+"/methods/";
                  $.gitbox(url);
                  return false;
                });
                </script>
                
              </div>
            </div>
          </div>
                                        
          <div id="content">
            <%= render $content %>
          </div>
        </div>
      </div>                    
    </div>

    <div id="footer">
      <div class="site">
        <div class="info">
          <div class="links">
            <a href="http://github.com/blog/148-github-shirts-now-available">Shirts</a> |
            <a href="http://github.com/blog">Blog</a> |
            <a href="http://support.github.com/">Support</a> |
            <a href="http://github.com/training">Training</a> |
            <a href="http://github.com/contact">Contact</a> |
            <a href="http://groups.google.com/group/github/">Google Group</a> |
            <a href="http://develop.github.com/">API</a> |
            <a href="http://twitter.com/github">Status</a>
          </div>
          <div class="company">
            <span id="_rrt" title="0.64509s from xc88-s00039">GitHub</span>
            is <a href="http://logicalawesome.com/">Logical Awesome</a> ©2009 | <a href="http://github.com/site/terms">Terms of Service</a> | <a href="http://github.com/site/privacy">Privacy Policy</a>
          </div>
        </div>
        <div class="sponsor">
          <a href="http://engineyard.com/"><img src="http://github.com/images/modules/footer/engine_yard_logo.png" alt="Engine Yard"></a>
          <div>
            Hosting provided by our<br> partners at Engine Yard
          </div>
        </div>
      </div>
    </div>
    
    <div id="coming_soon" style="display: none;">
      This feature is coming soon.  Sit tight!
    </div>

    <div id="facebox" style="display: none;">       
      <div class="popup">         
        <table>           
          <tbody>             
            <tr>               
              <td class="tl"></td>
              <td class="b"></td>
              <td class="tr"></td>             
            </tr>             
          <tr>               
            <td class="b"></td>               
            <td class="body">                 
              <div class="content"></div>                 
              <div class="footer">                   
                <a href="#" class="close"><img src="http://github.com/facebox/closelabel.gif" title="close" class="close_image"></a>                 
              </div>               
            </td>               
            <td class="b"></td>             
          </tr>             
          <tr>               
            <td class="bl"></td>
            <td class="b"></td>
            <td class="br"></td>             
          </tr>           
        </tbody>         
      </table>       
    </div>     


    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8689483-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
