<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title><%= $github[:user] %>'s <%= $github[:project] %> - GitHub Documentation</title>
    <meta http-equiv="refresh" content="0;url=http://docs.github.com/<%= $github[:user] %>/<%= $github[:project] %>/blob/<%= $github[:commit] %>">
    <%= render :html_head %>
    <link rel="stylesheet" href="<%= url_for(css_file) %>" type="text/css" charset="utf-8" />
  </head>
  <body>    
    <% $content = :content_for_redirect %>
    <%= render :html_body %>
  </body>
</html>