</div>
<div class="section <%= generator_name %>">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File '<%= h object.file %>', line <%= object.line %></span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/<%= $github[:user] %>/<%= $github[:project] %>/blob/master/<%= h object.file %>#L<%= object.line %>">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers"><%= h format_lines(object) %></pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><%= html_syntax_highlight object.source %></pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>