<div class="errors">
  <%= form.error_messages %>
</div>    

<div class="text required unique">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<div class="text optional unique">
  <%= form.label :url %>
  <%= form.text_field :url %>
</div>
<div class="text optional">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>
<div class="text optional">
  <%= form.label :keywords %>
  <%= form.text_field :keywords %>
</div>
<div class="text optional">
  <%= form.label :category %>
  <%= form.text_field :category %>
</div>
<div class="textarea required">
  <%= form.label :text %>
  <%= form.text_area :text %>
</div>
<div class="syntax">
  <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Learn Markdown</a> |
  <a href="http://hobix.com/textile/" target="_blank">Learn Textile</a>
</div>
<div class="select required">
  <%= form.label :formatting %>
  <%= form.select :formatting, [['Plain','plain'], ['Markdown', 'markdown'], ['Textile', 'textile']] %>
</div>
<div class="checkbox optional">
  <%= form.label :published %>
  <%= form.check_box :published %>
</div>